<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Explore Appointments</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="../static/assets/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="../static/assets/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="../static/assets/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="../static/assets/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="../static/assets/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="../static/assets/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="../static/assets/css/custom.css" />
      <!-- calendar file css -->
      <link rel="stylesheet" href="../static/assets/js/semantic.min.css" />
      <!-- fancy box js -->
      <link rel="stylesheet" href="../static/assets/css/jquery.fancybox.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.../static/assets/js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page tables_page">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="../static/assets/images/logo/newlogo.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="../static/assets/images/layout_img/user_img.png" alt="#" /></div>
                        <div class="user_info">
                           <h6> {{msg}}</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard purple_color2"></i> <span>Dashboard</span></a></li>
                     <li><a href="{{ url_for('exploreusers') }}"><i class="fa fa-user yellow_color"></i> <span> Explore Users </span></a></li>
                     <li><a href="{{ url_for('exploreappointment') }}"><i class="fa fa-calendar green_color"></i> <span> Explore Appointment</span></a></li>
                     <li><a href="{{ url_for('exploreprescription') }}"><i class="fa fa-object-group blue2_color"></i> <span>Explore Prescription</span></a></li>
                     <li><a href="{{ url_for('drunavailability') }}"><i class="fa fa-calendar yellow_color"></i> <span>Add Dr Unavailability</span></a></li>
                     <li><a href="{{ url_for('explorefeedback') }}"><i class="fa fa-comments-o red_color"></i> <span>Explore Feedback</span></a></li>
                     
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="../static/assets/images/logo/logo.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <!-- <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li> -->
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="../static/assets/images/layout_img/user_img.png" alt="#" /><span class="name_user">{{msg}}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="{{ url_for('adminlogout') }}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <center><h2>Explore Patient Appointments</h2></center>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <section class="ftco-section">
                          <div class="row justify-content-center">
                              <div class="table-wrap" style="max-height: 700px;">
                                <table class="table">
                                  <thead class="thead-primary">
                                    <tr class="dash_head" style="background-color: #7abf26;">
                                      <th>&nbsp;</th>
                                      <!-- <th>SR.NO</th> -->
                                      <th>FULLNAME</th>
                                      <th>AGE</th>
                                      <th>GENDER</th>
                                      <th>MOBILE NO.</th>
                                      <th>DATE</th>
                                      <th>TIMING</th>
                                      <th>ADD PRESCRIPTION</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in appointmentdatabase %}
                                    <tr class="alert" role="alert">
                                      <td>
                                        <label class="checkbox-wrap checkbox-primary">
                                          <input disabled type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <!-- <td>
                                       <span>{{item['i']}}</span>
                                     </td> -->
                                      <td>
                                        <span>{{item['fullname']}}</span>
                                      </td>
                                      <td>
                                        {{item['age']}}
                                      </td>
                                      <td>{{item['gender']}}</td>
                                      <td class="quantity">
                                        {{item['mobileno']}}
                                      </td>
                                      <td>{{item['a_date']}}</td>
                                      <td class="quantity"><span>{{item['a_time']}}</span></td>
              
                                      <td>
                                       <form action="{{ url_for('addprescriptionpage') }}" method="POST">
                                         <input type="hidden" id="aId" name="aId" value="{{item['a_id']}}">
                                         <input class="btn btn-success" type="submit" name="addpresc" value=" Add Prescription">
                                       </form>
                                     </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        
                      </section>
                      <style>
                        .table-wrap {
                        overflow-x: scroll;
                        overflow-y: scroll;  }
                      
                      .table {
                        min-width: 1000px !important;
                        max-height: 700px !important;
                        width: 100%;
                        background: #fff;
                        -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
                        -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
                        box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29); }
                        .table thead.thead-primary {
                          background: #7abf26; }
                        .table thead th {
                          border: none;
                          padding: 18px;
                          font-size: 15px;
                          font-weight: 500;
                          color: white; }
                        .table tbody tr {
                          margin-bottom: 10px; }
                        .table tbody th, .table tbody td {
                          border: none;
                          padding: 18px;
                          font-size: 15px;
                          background: #fff;
                          border-bottom: 4px solid #f8f9fd;
                          vertical-align: middle; }
                        .table tbody td.quantity {
                          width: 10%; }
                        .table tbody td .img {
                          width: 100px;
                          height: 80px; }
                        .table tbody td .email span {
                          display: block; }
                          .table tbody td .email span:last-child {
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.3); }
                        .table tbody td .close span {
                          font-size: 12px;
                          color: #dc3545; }
                      </style>
                  </div>
               
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2024 Designed by html.design. All rights reserved.</p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
         <!-- model popup -->
         <!-- The Modal -->
         <div class="modal fade" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h4 class="modal-title">Modal Heading</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                     Modal body..
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- end model popup -->
      </div>
      <!-- jQuery -->
      <script src="../static/assets/js/jquery.min.js"></script>
      <script src="../static/assets/js/popper.min.js"></script>
      <script src="../static/assets/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="../static/assets/js/animate.js"></script>
      <!-- select country -->
      <script src="../static/assets/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="../static/assets/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="../static/assets/js/Chart.min.js"></script>
      <script src="../static/assets/js/Chart.bundle.min.js"></script>
      <script src="../static/assets/js/utils.js"></script>
      <script src="../static/assets/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="../static/assets/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- fancy box js -->
      <script src="../static/assets/js/jquery-3.3.1.min.js"></script>
      <script src="../static/assets/js/jquery.fancybox.min.js"></script>
      <!-- custom js -->
      <script src="../static/assets/js/custom.js"></script>
      <!-- calendar file css -->    
      <script src="../static/assets/js/semantic.min.js"></script>
   </body>
</html>